canvas {
  display: block;
  // vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  // background: #1d2844; // #00356b
  background: #0a043c;
  z-index: -1000;
}
