@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");
canvas {
  display: block;
}

#particles-js {
  width: 100%;
  height: 100vh;
  background: #0a043c;
  z-index: -1000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 93.75rem;
  padding: 0 3.125rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 0.625rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.navbar.scrolled {
  padding: 0.3125rem 0;
  background: #6736dd;
}

.navbar.scrolled .logo a span {
  color: #fff;
}

.navbar.scrolled .menu_links a:after {
  content: "";
  position: absolute;
  top: 2.56rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.navbar.scrolled .menu_links a:hover {
  color: #fff;
  -webkit-transform: none;
          transform: none;
}

.navbar.scrolled .menu_links a:hover:after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navbar_contents .logo a {
  color: #fff;
  font-size: 2.1875rem;
  font-weight: 800;
}

.navbar_contents .logo a span {
  color: dodgerblue;
}

.navbar_contents .menu_links {
  font-size: 0px;
}

.navbar_contents .menu_links li {
  list-style: none;
  display: inline-block;
  position: relative;
}

.navbar_contents .menu_links li:not(:last-child) {
  margin-right: 25px;
}

.navbar_contents .menu_links li a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  display: inline-block;
}

.navbar_contents .menu_links li a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: dodgerblue;
}

.navbar_contents .menu_hamburger {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1058px) {
  .container {
    padding: 0 4.375rem;
  }
  .navbar_contents .menu_links {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #0b3675;
    text-align: center;
    padding: 6.25rem;
    opacity: 0;
    -webkit-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
  }
  .navbar_contents .menu_links li {
    display: block;
    -webkit-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
  }
  .navbar_contents .menu_links li:not(:last-child) {
    margin: 1.25rem 0;
  }
  .navbar_contents .menu_links li a {
    display: inline-block;
    font-size: 1.5rem;
  }
  .navbar_contents .menu_links li a:hover {
    color: #fff;
    text-decoration: underline;
  }
  .navbar_contents .menu_links.active {
    top: 0;
    left: 0;
    opacity: 1;
  }
  .navbar_contents .menu_hamburger {
    display: block;
    z-index: 999;
  }
  .navbar_contents .menu_hamburger i.active::before {
    content: "\f00d";
  }
  .hero_contents .title {
    font-size: 2.5rem;
  }
  .hero_contents .subtitle {
    font-size: 1.5rem;
  }
}

.hero {
  max-width: 90%;
  padding: 2em 3em;
  color: #fff;
  background: transparent;
  text-align: justify;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_contents span {
  color: dodgerblue;
}

.hero_contents .title {
  font-size: 3.4375rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero_contents .subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
}

.about {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.about_contents {
  color: #0b3675;
  color: black;
}

.about_contents h1 {
  font-size: 3.4375rem;
}

.about_contents p {
  font-size: 1.5rem;
}

.about_contents a {
  text-decoration: none;
  background: inherit;
  padding: 15px;
  display: inline-block;
  margin: 20px 0;
  border: 2px solid black;
  border-radius: 2px;
  color: black;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0 #111;
          box-shadow: 0 0 #111;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.about_contents a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 5px 7px #111;
          box-shadow: 5px 7px #111;
}

.about_contents a:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0 #111;
          box-shadow: 0 0 #111;
}

.skills {
  height: 100vh;
  width: 100%;
  background: #240c5c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.skills_intro h1 {
  font-size: 3.4375rem;
}

.skills_intro p {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: -0.5px;
  line-height: 1;
  margin-bottom: 2em;
}

.skills_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: justify;
}

.skills_items {
  padding: 50px;
  padding: 30px 30px;
  margin: 20px 15px;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.skills_items:hover {
  background: #5421ca;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

.skills_items .title h3 {
  font-size: 30px;
  margin-bottom: 1em;
  margin-top: -20px;
}

.skills_items .title span {
  display: block;
  width: 100%;
  height: 2px;
  margin-top: -30px;
  margin-bottom: 30px;
  background: white;
}

.skills_items .title span:hover {
  border: 1px solid white;
}

.skills_items .skills_list li {
  list-style: none;
}

.skills_items .skills_list li:not(:last-child) {
  margin-bottom: 10px;
}

.skills_items .skills_list li div {
  text-align: center;
  padding: 5px 2px;
  border: 1px solid white;
  border-radius: 2px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.skills_items .skills_list li div:hover {
  background-color: white;
  color: #240c5c;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7);
}

.skills_items .skills_list li div:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}

.skills_items .skills_list li div p {
  margin: 5px;
  font-size: 20px;
  vertical-align: middle;
  display: inline-block;
  text-align: start;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.skills_items .skills_list li img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.skills_items .skills_list li img:nth-child(3) {
  width: 20px;
  height: 60px;
  padding: 0.5em;
}
/*# sourceMappingURL=globals.css.map */